{% extends 'app_rapports/base.html' %}

{% block content %}

<style>
/* ===== FOND GLOBAL ===== */
body {
    background: linear-gradient(135deg, #e9eff7, #f0f0f4);
}

/* ===== CONTENEUR PRINCIPAL ===== */
.home-wrapper {
    padding: 90px 20px;
}

.home-card {
    background: #f6f6fb;
    border-radius: 24px;
    padding: 70px 40px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

/* ===== TITRES ===== */
.title-main {
    font-size: 2.8rem;
    font-weight: 700;
    color: #1368e0;
}

.subtitle-main {
    font-size: 1.15rem;
    color: #494572;
    max-width: 720px;
    margin: 0 auto;
}

/* ===== BOUTONS ===== */
.btn-home {
    padding: 14px 34px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    transition: all 0.25s ease;
}

.btn-home i {
    font-size: 1.3rem;
}

.btn-home:hover {
    transform: translateY(-4px);
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.18);
}
</style>

<div class="home-wrapper d-flex justify-content-center">
    <div class="home-card col-md-9 text-center">

        <!-- TITRE -->
        <h1 class="title-main mb-3 d-flex justify-content-center align-items-center gap-3">
            <i class="bi bi-speedometer2 text-primary"></i>
            Gestion des Rapports
        </h1>

        <!-- SOUS-TITRE -->
        <p class="subtitle-main mb-5">
    Une plateforme centralisée pour gérer les connexions aux bases de données,
    concevoir des requêtes SQL, planifier la génération des rapports
    et automatiser leur diffusion selon un calendrier défini.
        </p>

        <!-- BOUTONS -->
        <div class="d-flex justify-content-center flex-wrap gap-4 mt-4">
            <a href="{% url 'report_list' %}" class="btn btn-primary btn-home ">
                <i class="bi bi-file-earmark-bar-graph me-1"></i>
                Rapports
            </a>
            <a href="{% url 'query_list' %}" class="btn btn-success btn-home">
                <i class="bi bi-file-earmark-code-fill"></i>
                Requêtes SQL
            </a>            
            <a href="{% url 'db_list' %}" class="btn btn-warning text-white btn-home">
                <i class="bi bi-hdd-network"></i>
                Bases de données
            </a>



        </div>
    </div>
</div>

{% endblock %}
