{% extends 'app_rapports/base.html' %}
{% load static %}

{% block content %}

<!-- Header -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-dark d-flex align-items-center gap-2">
       {% if edit %}
         <i class="bi bi-pencil-square text-warning"></i>
         Modifier la requête SQL
      {% else %}
         <i class="bi bi-database text-primary"></i>
         Créer une requête SQL
      {% endif %}
    </h2>


        <!-- Bouton Retour -->
    <a href="{% url 'query_list' %}"
       class="btn btn-primary rounded-pill px-4 shadow-sm">
        <i class="bi-arrow-left-short"></i>
        Retour
    </a>
</div>

<!-- Card -->
<div class="card shadow-sm rounded-4 p-4 bg-light">

<form method="post" novalidate>
{% csrf_token %}

<!-- ================= NOM ================= -->
<div class="mb-3">
    <label class="form-label fw-semibold">
        Nom de la requête
    </label>
    {{ form.name }}
    {% if form.name.errors %}
        <div class="text-danger small">
            {{ form.name.errors|striptags }}
        </div>
    {% endif %}
</div>

<!-- ================= SQL ================= -->
<div class="mb-3">
    <label class="form-label fw-semibold">
        Requête SQL
    </label>
    {{ form.sql_text }}
    {% if form.sql_text.errors %}
        <div class="text-danger small">
            {{ form.sql_text.errors|striptags }}
        </div>
    {% endif %}
</div>

<!-- ================= BASE ================= -->
<div class="mb-4">
    <label class="form-label fw-semibold">
        Base de données
    </label>
    {{ form.database }}
    {% if form.database.errors %}
        <div class="text-danger small">
            {{ form.database.errors|striptags }}
        </div>
    {% endif %}
</div>

<!-- ================= ACTION ================= -->

<button type="submit" class="btn btn-success rounded-pill w-100 py-2 fw-semibold">
    {% if edit %}
        <i class="bi bi-check-circle-fill"></i> Mettre à jour
    {% else %}
        <i class="bi bi-check-circle-fill"></i> Enregistrer
    {% endif %}
</button>


</form>
</div>

<!-- ================= STYLE ================= -->
<style>
.card textarea {
    min-height: 180px;
    font-family: monospace;
}
.card input,
.card textarea,
.card select {
    border-radius: .5rem;
}
</style>

{% endblock %}
